/**{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}*/
/*.nav{
    width: 30px;
    height: 20px;
    margin-top: 10px;
}*/



/*.logo{
    display: inline-block;

}

.menu{
    display: inline-block;
}

li{
    display: inline-block;
}*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:skyblue;
}

ul{
    display: flex;
    list-style-type: none;

}
a{
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    color:black;
    padding: 10px 10px;
    display: inline-block;
    transition:.5s;
}

a:hover{
    background-color: red;
}